/* Insert your custom styles here */

#sidebar-left {
  display: block;
  left: 0px;
}

#center {
  float: right;
  width: 750px;
}

ul.horizontal-list {
  clear: both;
  display: block;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
}

ul.horizontal-list li {
  float: left;
  width: 220px;
  margin-left: 27px;
}

@media only screen and (max-width: 640px) {
/* Insert your mobile styles here */
}
